.home-view {
  display: flex;
}

.home-view .home-posts {
  justify-self: center;
  width: 75%;
}

@media (max-width: 720px) {
  .home-view .home-posts {
    justify-self: center;
    width: 100%;
  }
  .home-view .home-users {
    display: none;
  }
}
